.page-footer{
    background-color: #1e88e5;
    .get-connected-title{
        span{
            color: #fff;
        }
    }
    .social-media{
        svg{
            color: #fff;
        }
    }
    .col-item{
        p{
            color: #fff;
            a{
                text-decoration: none;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    .col-item-title{
        color: #fff;
    }
    .footer-copyright{
        color: #fff;
        a{
            color: #fff;
        }
    }
}