.spinner-container{
    width: 100%;
    .spinner {
      border: 10px solid #808080;
      border-top-color: #1e88e5;
      border-right-color: #1e88e5;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      animation-name: loading;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-timing-function: cubic-bezier(0.21, 0.17, 0.6, 0.61);
    }
}

@keyframes loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}